<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>登录页</title>
    <link rel="stylesheet" href="css/semantic.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/login.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="ui basic segment container content">
      <h1 class="ui center aligned header">登录</h1>
      <div class="ui form">
        <div class="field">
          <div class="ui  image top">
            <img src="images/login/usericon.png" alt="" />
          </div>
          <input type="text" placeholder="注册邮箱">
        </div>
        <div class="field">
          <div class="ui  image top">
            <img src="images/login/lockicon.png" alt="" />
          </div>
          <input type="text" placeholder="密码">
        </div>
        <div class="two fields">
          <div class="field">
            <div class="ui image bottom" style="top:6px;">
              <img src="images/login/checkboxicon.png" alt="" />
            </div>
            <label>记住我</label>
            <div class="ui image bottom" style="top:29px;">
              <img src="images/login/passwordicon.png" alt="" />
            </div>
            <label>忘记密码</label>
          </div>
          <div class="field">
            <button class="ui right floated red circular button"type="button" name="button">登录</button>
          </div>
        </div>
      </div>
    </div>
    <div class="ui basic segment container footer">
      <div class="bottom">
        <div class="ui divider"></div>
        <button type="button" name="button" class="ui circular red button backtoindex">
            <img src="images/login/homeicon.png" style="position:absolute;left:18%;top:10%;">
            <h4>首页</h4>
        </button>
        <div class="ui image title">
            <img src="images/login/zhiribao.png" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
